.filmCard {
  width: 249px;
  min-height: 70px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgba(65, 61, 254, 0.32) 0%, rgba(255, 6, 6, 0.32) 100%);
  border-radius: 12px;
  margin-top: 2%;
}

.textCard {
  width: 100%;
  height: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #B3B2D8;
}

@media (max-width: 450px) and (max-height: 900px) {
  .filmCard {
    width: 100%;
    min-height: 70px;
  }
}